BROKER_HOST=127.0.0.1
# over TLS の場合はIPを sslip.io の形式で指定してください(証明書の都合)
# BROKER_HOST=192-168-1-1.sslip.io

PUB4_USER=mqtt_pub4
PUB4_PASS=xxxxxxxxxxxxxxxxxxx
SUB4_USER=mqtt_sub4
SUB4_PASS=zzzzzzzzzzzzzzzzzzz
